#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define NUMBER 1
#define FUNC 2
#define CONFIG 3

/*
TODO: MAC/WIN layer

##  Mac         -- Win key conversions
    CTRL        -- CTRL
    OPTION      -- WIN(GUI)
    CMD (GUI)   -- ALT

### all layers have mirrored home row mods
Mac:
CTRL OPT CMD SHIFT      SHIFT CMD OPT CTRL

Win:
WIN ALT CTRL SHIFT      SHIFT CTRL ALT WIN

*/

/ {
        behaviors {
            hm_ctr: homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                label = "HOMEROW_MOD_CTRL";
                #binding-cells = <2>;
                tapping-term-ms = <180>;
                quick_tap_ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };
            hm_alt: homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                label = "HOMEROW_MOD_ALT";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                quick_tap_ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };
            hm_cmd: homerow_mods {
                compatible = "zmk,behavior-hold-tap";
                label = "HOMEROW_MOD_CMD";
                #binding-cells = <2>;
                tapping-term-ms = <150>;
                quick_tap_ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };
            hm_sft: homerow_mods {
                            compatible = "zmk,behavior-hold-tap";
                            label = "HOMEROW_MOD_SHIFT";
                            #binding-cells = <2>;
                            tapping-term-ms = <100>;
                            quick_tap_ms = <0>;
                            flavor = "tap-preferred";
                            bindings = <&kp>, <&kp>;
                        };
            // layer tap with home row mod characteristics
            lt_hm: homerow_mods {
                            compatible = "zmk,behavior-hold-tap";
                            label = "LAYER_TAP_HOMEROW_MOD";
                            #binding-cells = <2>;
                            tapping-term-ms = <100>;
                            quick_tap_ms = <0>;
                            flavor = "tap-preferred";
                            bindings = <&kp>, <&mo>;
                        };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";

// GUI: WIN on Windows, CMD on MacOS
// -----------------------------------------------------------------------------------------
// |  `~  |   Q   |   W   |   E   |   R   |   T   |       |   Y   |   U   |   I   |   O   |   P   |   =+  |
// |  \|  |   A   |   S   |   D   |   F   |   G   |       |   H   |   J   |   K   |   L   |   ;:  |   '"  |
// | CAPS |   Z   |   X   |   C   |   V   |   B   |       |   N   |   M   |   ,<  |   .>  |   /?  |   -_  |
//                        |  ESC  |  SPC  |  TAB  |       | ENTER |  BSPC |  DEL  |
                        bindings = <
   &kp GRAVE    &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y               &kp U               &kp I           &kp O           &kp P               &kp EQUAL
   &kp BSLH     &hm_ctr LCTRL A &hm_alt LALT S  &hm_cmd LGUI D  &hm_sft LSHFT F &kp G           &kp H               &hm_sft RSHFT J     &hm_cmd RGUI K  &hm_alt RALT L  &hm_ctr RCTRL SEMI  &kp SINGLE_QUOTE
   &kp CAPS     &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N               &kp M               &kp COMMA       &kp DOT         &kp SLASH           &kp MINUS
                                        &lt_hm FUNC ESC    &lt_hm NUMBER SPC  &lt_hm CONFIG TAB  &lt_hm CONFIG ENTER    &lt_hm NUMBER BSPC     &lt_hm FUNC DEL
                        >;
                };

                number_layer {
                    label = "NUMBER";

// -----------------------------------------------------------------------------------------
// |   {   |   }   |   7&  |   8*  |   9(  |   /   |       |       |  UNDO |   ↑   |  REDO |       |       |
// |   [{  |   ]}  |   4$  |   5%  |   6^  |   *   |       |       |   ←   |   ↓   |   →   |       |       |
// |   (   |   )   |   1!  |   2@  |   3#  |   -   |       |       |  CUT  | COPY  | PASTE |       |       |
//                         |   .   |   0)  |   +   |       | ENTER |  BSPC |  DEL  |
                        bindings = <
   &kp LBRC     &kp RBRC        &kp N7          &kp N8              &kp N9              &kp KP_SLASH            &none               &kp C_AC_UNDO       &kp UP              &kp C_AC_REDO       &none       &none
   &kp LBKT     &hm LCTRL RBKT  &hm_alt LALT N4 &hm_cmd LGUI N5     &hm_sft LSHFT N6    &kp KP_MULTIPLY         &none               &hm_sft RSHFT LEFT  &hm_cmd RGUI DOWN   &hm_alt RALT RIGHT  &kp RCTRL   &none
   &kp LPAR     &kp RPAR        &kp N1          &kp N2              &kp N3              &kp KP_MINUS            &none               &kp C_AC_CUT        &kp C_AC_COPY       &kp C_AC_PASTE      &none       &none
                                                &lt_hm FUNC KP_DOT  &lt_hm NUMBER N0    &lt_hm CONFIG KP_PLUS   &lt_hm CONFIG ENTER &lt_hm NUMBER BSPC  &lt_hm FUNC DEL
                        >;
                };

                function_layer {
                    label = "FUNC";

// -----------------------------------------------------------------------------------------
// |       |  F12  |   F7  |   F8  |   F9  | PrtSc |       |       |  UNDO |  PGUP |  REDO |       |       |
// |       |  F11  |   F4  |   F5  |   F6  | ScrLk |       |       |  HOME |  PGDN |  END  |       |       |
// |       |       |   F1  |   F2  |   F3  | PauBrk|       |  INS  |  CUT  |  COPY | PASTE |       |       |
//                         |  ESC  |   F10 |  TAB  |       | ENTER |  BSPC |  DEL  |
                        bindings = <
   &none    &kp F12             &kp F7          &kp F8          &kp F9              &kp PSCRN           &none               &kp C_AC_UNDO       &kp PG_UP           &kp C_AC_REDO       &none       &none
   &none    &hm_ctr LCTRL F11   &hm_alt LALT F4 &hm_cmd LGUI F5 &hm_sft LSHFT F6    &kp SLCK            &none               &hm_sft RSHFT HOME  &hm_cmd RGUI PG_DN  &hm_alt RALT END    &kp RCTRL   &none
   &none    &none               &kp F1          &kp F2          &kp F3              &kp PAUSE_BREAK     &kp INS             &kp C_AC_CUT        &kp C_AC_COPY       &kp C_AC_PASTE      &none       &none
                                                &lt_hm FUNC ESC &lt_hm NUMBER F10   &lt_hm CONFIG TAB   &lt_hm CONFIG ENTER &lt_hm NUMBER BSPC  &lt_hm FUNC DEL
                        >;
                };

                config_layer {
                    label = "CONFIG";

// -----------------------------------------------------------------------------------------
// | BT_CLR|  BT1  |  BT2  |  BT3  |  BT4  |  BT5  |       |       |       |       |       |       |       |
// |  MAC  |  WIN  |   <<  |  >||  |   >>  |       |       |       |       |       |       |       |       |
// | RESET |       | VOLDN |  MUTE | VOLUP |       |       |       |       |       |       |       |       |
//                         |  ESC  |  SPC  |  TAB  |       | ENTER |  BSPC |  DEL  |
                        bindings = <
   &bt BT_CLR   &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &none               &none               &none       &none   &none   &none
   &none        &none           &kp C_PREV      &kp C_PP        &kp C_NEXT      &none           &none               &none               &none       &none   &none   &none
   &none        &none           &kp C_VOL_DN    &kp C_MUTE      &kp C_VOL_UP    &none           &none               &none               &none       &none   &none   &none
                                                &lt_hm FUNC ESC    &lt_hm NUMBER SPC  &lt_hm CONFIG TAB  &lt_hm CONFIG ENTER    &lt_hm NUMBER BSPC     &lt_hm FUNC DEL
                        >;
                };

        };
};